.wrapper{
    background-color: #b3d8d8;
    border-radius: 8px;
    margin: 5px 0;
    padding: 15px;
    color: #293547;

    h3 {
        text-align: left;
    }
    p {
        text-align: left;
    }
    .author {
        text-align: right;
        font-weight: 600;
    }
}